.row.u-margin-top-sm
  %h4.text-center
    -#%a{ href: "https://www.eventbrite.com/e/gitlab-commit-2019-brooklyn-tickets-63012432883" } <b>September 17, 2019 | Get Tickets</b>
  %p.text-center This event already took place on September 17, 2019
  -# %p Get ready to experience a GitLab Williamsburg neighborhood takeover on September 17th. Every venue in a two-block radius will have its own theme, immersing you in the city that never sleeps. From a graffiti wall to a trip to a brewery, you'll have an exciting backdrop to your day of learning about the future of software development.