%ul.legend-list
  %li
    = partial "/images/maturity/planned.svg"
    &nbsp;
    = succeed ": Not yet implemented in GitLab, but on our roadmap." do
      %b Planned
  %li
    = partial "/images/maturity/minimal.svg"
    &nbsp;
    = succeed ": Available in the product, and works in the recommended setup. Has utility to the user, but does not completely address the job-to-be-done, yet. Not to be used as a primary selling point, as capabilities are minimal." do
      %b Minimal
  %li
    = partial "/images/maturity/viable.svg"
    &nbsp;
    = succeed ": Significant use at GitLab the company." do
      %b Viable
    = link_to "CM Scorecard", "/handbook/engineering/ux/category-maturity-scorecards/"
    at least 3.14 for the 
    = link_to "job to be done (JTBD)", "/handbook/engineering/ux/ux-resources/#jobs-to-be-done-jtbd" 
    when tested with internal users. No assessment of related jobs to be done.
  %li
    = partial "/images/maturity/complete.svg"
    &nbsp;
    = succeed ": GitLab the company dogfoods it exclusively. At least 100 customers use it. CM Scorecard score at least 3.63 for the identified JTBDs when tested with external users." do
      %b Complete
  %li
    = partial "/images/maturity/lovable.svg"
    &nbsp;
    = succeed ": CM score of at least 3.95 for the JTBD (and related JTBDs, if applicable) when tested with external users." do
      %b Lovable
